.headerbar
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 20
    height: 150px
    padding: 22px 15px 0
    background-color: rgba(255, 255, 255, .6)
    transition: top .25s .5s

    &-brand
        position: absolute
        bottom: 8px
        left: 50%
        transform: translateX(-50%)

    &.headroom
        // @todo: set custom classes for headroom.js
        &--pinned
            top: 0

        &--unpinned
            top: -150px // .headerbar height
