.headerbar
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 20
    height: 9.375em
    padding: 1.25em 1em 0
    background-color: rgba(255, 255, 255, .6)
    transition: all .25s

    img
        position: absolute
        top: 1.25em // .headerbar padding-top
        left: 50%
        transform: translateX(-50%)
        transition: all .2s

    // modifiers
    &
    &-top
        img
            width: 8em
            height: 7.34em

    &-unpinned
        top: -9.375em // .headerbar height

    &-pinned&-not-top
    &-not-top
        top: 0
        height: 4.25em // 2 * 1.25em as vertical paddings + icons height

        img
            height: 3em
            width: 3.26em
            top: 50%
            transform: translate(-50%, -50%)
