.lt-contact
    button
        padding: .5em 1em
        border: none
        background-color: $colour.darkgrey
        color: $colour.default
        font-weight: bold
        text-transform: uppercase
        transform: translateX(-50%)

        @media $screen.xs
            margin-left: 50%

    fieldset
        border: none

        @media $screen.sm
            order: 2

    form
        padding-bottom: 2em

        @media $screen.sm
            position: relative
            flex-grow: 1
            order: 2
            display: flex
            align-items: stretch
            padding-top: 2em
            padding-bottom: 0

    &--content
        display: flex
        flex-direction: column
        min-height: 100vh

    &--illustration
        @media $screen.xs
            display: none

        @media $screen.sm
            order: 1
            position: relative
            overflow: hidden

            > img
                position: absolute
                top: 0
                right: 0
                max-width: inherit!important
