.screen
    // modifiers
    for tint, colour in $colour
        &-{tint}
            background-color: colour

    &-conviction
        background-image: url(../img/bg-conviction.jpg)
        background-repeat: no-repeat
        background-position: center bottom
        background-size: auto 100%

    &-pop
        background-image: url(../img/bg-pop.jpg)
        background-repeat: no-repeat
        background-position: center top
        background-size: 100% 640px

        @media $screen.sm
            .screen--illustration
                padding-top: 4em
                background-image: url(../img/halo.png)
                background-repeat: no-repeat
                background-position: center top
                background-size: 110% 90%

                img
                    max-width: 60%
                    margin: 0 auto

    &-too
        background-image: url(../img/bg-too.jpg)
        background-repeat: no-repeat
        background-size: cover

        img
            margin: 0 auto

    // elements
    img
        max-width: 100%
        height: auto

    &--content
        display: flex
        align-items: stretch

        @media $screen.xs
            flex-direction: column

    &--about
    &--illustration
        display: flex
        flex-direction: column
        padding-right: 1em
        padding-left: @padding-right

    &--about
        justify-content: center

        @media $screen.xs
            padding-top: 4em

    &--illustration
        justify-content: flex-end

        &-vcenter
            justify-content: center

        @media $screen.xs
            order: 2

        @media $screen.sm
            padding-top: 4em

    &--icon
        width: 3.625em
        height: @width
        margin-bottom: 1.5em
        fill: $colour.default

