$gutter = 1.2rem
$columns = 12 // number of columns
$screen = {
    sm:  "screen and (max-width: 40em)",
    md: "screen and (min-width: 40em)",
    lg:  "screen and (min-width: 60em)",
    xl:  "screen and (min-width: 75em)"
}

// fonts
$fontsize = 1.6rem
$font = {
    body: unquote('"Open Sans", Helvetica, Arial, sans-serif'),
    heading: unquote('"Open Sans Condensed", Georgia, Times, serif')
}

$colour = {
    default: #ffffff,
    black: #000000,
    scarlet: #8f1c1e,
    highlight: #cc3366,
    link: #cc3366
}
