$gutter = 1.2rem
$columns = 12 // number of columns
$screen = {
    xs:  "screen and (max-width: 26em)",
    sm:  "screen and (min-width: 26em)",
    md: "screen and (min-width: 48em)",
    lg:  "screen and (min-width: 60em)",
    xl:  "screen and (min-width: 75em)"
}

// fonts
$fontsize = 1.6rem
$font = {
    body: unquote('"Open Sans", Helvetica, Arial, sans-serif'),
    heading: unquote('"Open Sans Condensed", Georgia, Times, serif')
}

$colour = {
    default: #ffffff,
    black: #000000,
    scarlet: #8f1c1e,
    teal: #28bab1,
    lime: #a6d35c,
    lightblue: #008cdc,
    cyan: #11a29a
}
