// Block helpers
// Size
.content
    width: 100%
    max-width: 1170px
    margin: 0 auto

// Display
.hidden
    display: none

// Alignments
.align-center
    text-align: center

// Float and clear
.clearfix
    overflow: auto

.float-right
    float: right

.float-left
    float: left

// Background colors
for tint, colour in $colour
    .bg-{tint}
        background-color: colour
