// Block helpers
// Size
.content
    width: 100%
    max-width: 1170px
    margin: 0 auto

// Display
.clearheader
    margin-top: 9.375em // .headerbar height

.hidden
    display: none

// Alignments
.align-center
    text-align: center

    > img // we need to force it as <img> is set to display: block
        margin-right: auto
        margin-left: auto


.align-right
    text-align: right

    > img
        margin-left: auto


// Float and clear
.clearfix
    {clearfix}

.float-right
    float: right

.float-left
    float: left

// Background colors
for tint, colour in $colour
    .bg-{tint}
        background-color: colour

.bg-green
.bg-yellow
    // set z-index to hide balloon on expert page
    position: relative
    z-index: 2
