// Background of sections
.skin
    &-conviction
        background-image: url(../img/bg-conviction.jpg)
        background-repeat: no-repeat
        background-position: center bottom
        background-size: auto 100%

    &-expert
        margin-top: 9.375em // .headerbar height
        background-color: $colour.darkgrey
        background-image: url(../img/bg-expert.jpg)
        background-repeat: no-repeat
        background-position: right top
        background-size: 50% 100%

    &-panda
        margin-top: 9.375em // .headerbar height
        padding-top: 3em

    &-pop
        background-image: url(../img/bg-pop.jpg)
        background-repeat: no-repeat
        background-position: center top
        background-size: 100% 640px

    &-proud
        margin-top: 9.375em // .headerbar height
        padding-top: 30em
        background-image: url(../img/bg-proud.jpg)
        background-repeat: no-repeat
        background-position: center top

    &-too
        background-image: url(../img/bg-too.jpg)
        background-repeat: no-repeat
        background-size: cover
