// Background of sections
.skin

    &-conviction
        background-image: url(../img/skin-conviction.jpg)
        background-repeat: no-repeat
        background-position: center bottom
        background-size: auto 100%

    &-expert
        background-color: $colour.darkgrey

    &-panda
        padding-top: 12em
        background-image: url(../img/skin-panda.jpg)
        background-repeat: no-repeat
        background-position: center
        background-size: cover

    &-papercut
        background-image: url(../img/skin-papercut.jpg)
        background-repeat: repeat-x
        background-size: 100% 100%

    &-pop
        background-image: url(../img/skin-pop.jpg)
        background-repeat: no-repeat
        background-position: center top
        background-size: 100% 100%

    &-proud
        padding-top: 30em
        background-image: url(../img/skin-proud.jpg)
        background-repeat: no-repeat
        background-position: center top

    &-too
        background-image: url(../img/skin-too.jpg)
        background-repeat: no-repeat
        background-size: cover
