// Specific background themes, mostly used on home page category sections
.skin
    &-conviction
        background-image: url(../img/bg-conviction.jpg)
        background-repeat: no-repeat
        background-position: center bottom
        background-size: auto 100%

    &-pop
        background-image: url(../img/bg-pop.jpg)
        background-repeat: no-repeat
        background-position: center top
        background-size: 100% 640px

    &-too
        background-image: url(../img/bg-too.jpg)
        background-repeat: no-repeat
        background-size: cover

        img
            margin: 0 auto
