// Text helpers
// Colors
for tint, colour in $colour
    .{tint}
        color: colour

// Catchlines
.catchline
    padding-bottom: 1em
    font-family: $font.heading
    font-size: 1.25em
    line-height: 1

