html
    font-size: 62.5%

body
    color: $colour.default
    font-family: $font.body
    font-size: unit($fontsize, 'em')
    line-height: 1.2
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale /* FF */

/* headings */
// @TODO: replace heading classes by aria styles
h1
    {heading}
    color: $colour.default
    font-size: 11vw
    line-height: .8
    text-transform: uppercase

    @media $screen.xs
        font-size: 2.625em

    @media $screen.lg
        font-size: 6.625em

h2
    {heading}
    padding-bottom: .5em
    color: $colour.default
    font-size: 7.5vw
    line-height: 1
    text-transform: uppercase

    @media $screen.xs
        font-size: 2.125em

    @media $screen.md
        font-size: 3.125em

h3
    {heading}

p
    padding-bottom: 1em

/* misc */
a
abbr[title]
acronym[title]
    color: $colour.link
    text-decoration: none

abbr[title]
acronym[title]
    border-bottom: 1px dotted
    cursor: help
