.border
    display: block
    margin: .8em 0 0
    width: 3.375em
    height: .25em
    border-top-style: solid
    border-top-width: 4px
    transition: .2s width

    &-top
        margin-bottom: 1em

    &-large
        width: 8.25em

    for tint, colour in $colour
        &-{tint}
            border-color colour

    // Expand border on hover
    a:hover > &
            width: 8.25em // .border-large width
