.skill
    h2
        font-size: 1.56em
        line-height: 1.2

        > span
            display: block
            font-size: 1.4em

            &:before
                display: inline-block
                content: ''
                width: 2.28em
                height: .02em
                margin-right: .2em
                border-top-style: solid
                border-top-width: 4px

    &-detail
        font-weight: bold
        font-style: italic

