.wheel
    margin-bottom: 1em
    padding: 1em
    background-color: #26677f
    text-align: center

    p
        padding-bottom: 0

    &-pos
        font-size: 1.5em
        font-weight: bold

    &-title
        font-size: 1.5em
        font-weight: bold
        text-transform: uppercase

    @media $screen.md
        position: absolute
        background-color: transparent

        &-pos
            font-size: 2.5em

        &-pos
        &-title
            display: block

        &-1
            width: 200px
            top: 2%
            left: 13%

        &-2
            width: 236px;
            top: 8.75%;
            left: 54%;

        &-3
            width: 210px;
            top: 15.25%;
            left: 12%;

        &-4
            width: 231px
            top: 24.5%;
            left: 46%;

        &-5
            width: 248px
            top: 35%
            left: 7%

        &-6
            width: 187px
            top: 47%
            left: 41%
