// Styles for Contact section
.l-contact
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    overflow-y: hidden

    button
        padding: .5em 1em
        border: none
        background-color: $colour.darkgrey
        color: $colour.default
        font-weight: bold
        text-transform: uppercase
        transform: translateX(-50%)

        @media $screen.xs
            margin-left: 50%

    form
        padding-bottom: 2em
        width: 100%

        @media $screen.sm
            position: relative
            flex-grow: 1
            order: 2
            display: flex
            align-items: stretch
            padding-top: 2em
            padding-bottom: 0

    img
        max-width: 100%
        height: auto

    &-fieldset
        border: none

        @media $screen.sm
            order: 2

    &-aside
        @media $screen.xs
            display: none

        @media $screen.sm
            order: 1
            position: relative
            overflow: hidden

            > img
                position: absolute
                top: 0
                right: 0
                max-width: inherit!important
